# Bỏ qua các thư mục build và file biên dịch của Java/Tomcat
build/
dist/
target/
*.class
*.war
*.ear

# Bỏ qua các file cấu hình cá nhân của NetBeans (chỉ giữ lại cấu hình chung)
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
config.properties

# Bỏ qua các file hệ thống máy tính tự sinh ra
.DS_Store
Thumbs.db
