# Bỏ qua các thư mục build và file biên dịch của Java/Tomcat
build/
dist/
target/
*.class
*.war
*.ear

# Bỏ qua cấu hình cá nhân và các file tự động sinh ra của NetBeans
nbproject/private/
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/Makefile-*.properties
nbbuild/
nbdist/


.nb-gradle/

# Bỏ qua file chứa API Key, Mật khẩu Database (Bảo mật)
config.properties

# Bỏ qua các file hệ thống máy tính tự sinh ra
.DS_Store
Thumbs.db